/*-------------------------------*/
/*             TABLE             */
/*-------------------------------*/


table.myTable  {
    width:100%;
    border: #dee2e6 1px solid;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
table.myTable, th.myTable, td.myTable {
    /* border: 1px solid black; */
    border-collapse: collapse;
}

.myTable tbody th{
    border-top: #d8d8d8 1px solid;
}

.myTable th, td {
    padding: 15px;
    text-align: left;
    font-weight: normal;
}

table.myTable tr:nth-child(even) {
    background-color: #eee;
}
table.myTable tr:nth-child(odd) {
   background-color: #fff;
}

table.myTable tr:nth-child(even):hover {
    background-color: #eceff0;
}
table.myTable tr:nth-child(odd):hover {
   background-color: #eceff0;
}

table.myTable thead th {
    background-color: #555555;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

table.myTable thead th:hover {
    background-color: #43484e;
}

.pager {
    display:  inline-grid;
    margin-top: 5%;
}

.pager a {
    color: #222529;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    cursor: pointer;

}

.deleteButton {
  border-radius: 20px
}

/*-------------------------------*/
/*           button              */
/*-------------------------------*/

/* button {
    cursor: pointer;
    outline: none;
      &.outline {
          position: relative;
          z-index: 3;
          background: transparent;
          color: #1172c4;
          font-size: 14px;
          border-color: #1172c4;
          border-style: solid;
          border-width: 2px;
          border-radius: 22px;
          padding: 10px 40px;
          text-transform: uppercase;
          transition: all 0.2s linear;
          a {
              text-decoration: none;
          }
      }
      &.outline:hover {
          color: white;
          background: #1172c4;
          border-color: white;
          transition: all 0.2s linear;
      }
      &.outline:active {
          border-radius: 22px;
      }
      &.white-blue {
          font-weight: 700;
          color: #00aeef;
          border-color: white;
          background: white;
      }
      &.white-blue:hover {
          color: white;
          background: #00aeef;
          border-color: white;
      } */
    .sellBtn{
    font-size: 15px;
    color: white;
    background: #d35757;
    border-radius: 25px;
    width: 80px;
    height: 40px;
}
    
