header{
  background-color: #0074D9;
  position: relative;
  width: 100%;
  height: 50px;
  background-size: 30px;
}


footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: #0074D9;
  background-size: 30px;
}

#selector-and-container {
  background-color: #00688B;
}
