/*-------------------------------*/
/*         BASIC SETUP           */
/*-------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

    color: #000000;
    font-family: 'lato','Arial','sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* gray header */
.top-gray-header {
background:#eceff0;
padding-top:.5em;
border-top: solid 1px #555555;
border-bottom: solid 1px #555555;
}
/*  */


/* navigation */
.navigation ul li {
display:inline-block;
list-style:none;
float: right;
}

.navigation ul li {

text-decoration:none;
color:#555555;
padding: .8em;
display: block;
/* border-right: 2px solid rgba(225, 236, 231, 0.27); */
font-weight: bold;
}

.navigation ul li:hover{
background:#555555;
color:  white;
}
/*  */


/*-------------------------------*/
/*     REUSABLE COMPONENTS       */
/*-------------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
}



section {
    padding: 20px 0;

}

.pie-chart{
  height: 400px;
}



#selector-and-container {
  background-color: #00688B;
  length: 50px;
  width: 200px;
}

#fextry{
  display: flex;
  justify-content: space-around;
}

#graphs{
  min-height: 400px;
  width: 300px;
}

#container{
  font-size: 80%;
}

ul{
  margin-top: 10px;
  font-size: 80%;
}

li {
  margin-top: 10px;
}

.selector{

}






/* footer section */
.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:50px;
   margin: 10px;
   display:flex;
   align-items: center;
   padding-left: 10px;
   background:#eceff0;
}

.copyright p{
  word-spacing:1px;
  color: gray;
  font-family: 'helvetica', serif;
  font-size: 12px;

}
/*  */



/* taken out css */

/* footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: #0074D9;
  background-size: 30px;
} */


/* .main-nav{
    float: left;
    list-style: none;
    margin-top: 20px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
   border-bottom: 2px solid #e67e22;
}
 */


 /* nav{
     background-color: #0074D9;
     position: fixed;
     width: 100%;
 } */
