/*-------------------------------*/
/*         BASIC SETUP           */
/*-------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

    color: #000000;
    font-family: 'helvetica';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* gray header */
.top-gray-header {
background:#eceff0;
padding-top:.5em;
border-top: solid 1px #555555;
border-bottom: solid 1px #555555;
}
/*  */


/* navigation */
.navigation ul li {
position: relative;
top: -80px;
display:inline-block;
list-style:none;
float: right;
margin-bottom: 900px;
text-decoration:none;
color:#555555;
padding: .8em;
display: block;
/* border-right: 2px solid rgba(225, 236, 231, 0.27); */
font-weight: bold;
}

.navigation ul li:hover{
background:#555555;
color:  white;
}
/*  */


/*-------------------------------*/
/*     REUSABLE COMPONENTS       */
/*-------------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
}

.pie-chart {
  height: 400px;
  color: #55555;
}

/*  */

#container{
  display: flex;
  justify-content: space-between;
  font-family: "helvetica";
  margin: 100px;

}


ul{
  margin-top: 10px;
  font-size: 80%;
}

li {
  margin-top: 10px;
}


 /* selector option */

 .selecters{
   margin-right: 20px;

 }


 .styled-select{
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow:hidden;
    width: 240px;
    margin: 30px;
 }

 .styled-select, select{
    background: transparent;
    border: none;
    font-size: 15px;
    color: white;
    height: 29px;
    padding: px; /* If you add too much padding here, the options won't show in IE */
    width: 268px;
 }

 /* -------------------- Rounded Corners */

 .rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
 }

 .gray  { background-color: #555555; }

 /* footer section */
.footer {
  position:fixed;
  bottom:0;
  width:100%;
  height:50px;
  margin: 10px;
  display:flex;
  align-items: center;
  padding-left: 10px;
  background:#eceff0;
}

.copyright p{
 word-spacing:1px;
 color: gray;
 font-family: 'helvetica', serif;
 font-size: 12px;

}

.buyBtn{
  font-size: 15px;
  color: white;
  background: #60a74e;
  border-radius: 25px;
  width: 80px;
  height: 40px;
  margin-left: 20px;
}
